.inventory{
	display: inline-block;
	position: fixed;
	padding: 5px;
}

.inventory-2 {
	width: 315px;
	height: 420px;
	position: fixed;
}

div.inventory-image-cell {    
	display: inline-block;
        height: 100px;
        width: 100px;
	border: 5px solid #01FFFF;
	margin-right: -5px;
}

div.inventory-description-cell {
	font-size: 20px;
	color:black;    
	display: inline-block;
        height: 100px;
        width: 200px;
	border: 5px solid #01FFFF;
	margin-right: -5px;
        overflow-y: scroll;
}

div.inventory-newRow {
        display: flex;
        align: center;
	height: 100px;
	margin-bottom: 5px;
}

.inventoryShadow {
	left: 12%;
	top: 12%;
	background-color: black;
}

.inventoryBox {
	left: 10%;
	top: 10%;
	color:#01FFFF;
	font-size: 80px;
	background-color: #FFFFFF;
}

.category-cell {
     height: 100px; 
     width: 100px;
     display: inline-block;
}

.inventoryCategoryBox {
	left: 10%;
	top: 10%;
	position: fixed;        
}

div.inventory-selected {
        background-color: red;
}

div.inventory-pointed {
        background-color: greenyellow;
}

div.inventory-category-weapon{
	background-image: url(../images/inventory/inventory_weapon.png);
}

div.inventory-category-ammo{
	background-image: url(../images/inventory/inventory_ammo.png);
}

div.inventory-category-stuff{
	background-image: url(../images/inventory/inventory_stuff.png);
}

div.inventory-category-artefact{
	background-image: url(../images/inventory/inventory_artefact.png);
}

div.inventory-category-key{
	background-image: url(../images/inventory/inventory_key.png);
}

div.inventory-category-weapon-selected{
	background-image: url(../images/inventory/inventory_weapon_selected.png);
}

div.inventory-category-ammo-selected{
	background-image: url(../images/inventory/inventory_ammo_selected.png);
}

div.inventory-category-stuff-selected{
	background-image: url(../images/inventory/inventory_stuff_selected.png);
}

div.inventory-category-elements{
	background-image: url(../images/inventory/inventory_elements.png);
}

div.inventory-category-elements-selected{
	background-image: url(../images/inventory/inventory_elements_selected.png);
}

div.inventory-category-artefact-selected{
	background-image: url(../images/inventory/inventory_artefact_selected.png);
}

div.inventory-category-key-selected{
	background-image: url(../images/inventory/inventory_key_selected.png);
}

div.inventory-arrow_left{
	background-image: url(../images/inventory/left_arrow.png);
}

div.inventory-arrow_right{
	background-image: url(../images/inventory/right_arrow.png);
}