div.max_front {
	background-image: url(../images/max/max_front.png);
}

div.max_front_shotgun {
	background-image: url(../images/max/max_front_shotgun.png);
}

div.max_front_god{
	background-image: url(../images/max/max_front_god.png);
}

div.max_back {
	background-image: url(../images/max/max_back.png);
}

div.max_back_shotgun {
	background-image: url(../images/max/max_back_shotgun.png);
}

div.max_right {
	background-image: url(../images/max/max_right.png);
}

div.max_right_shotgun {
	background-image: url(../images/max/max_right_shotgun.png);
}

div.max_right_god {
	background-image: url(../images/max/max_right_god.png);
}

div.max_left {
	background-image: url(../images/max/max_left.png);
}

div.max_left_shotgun {
	background-image: url(../images/max/max_left_shotgun.png);
}

div.max_left_god {
	background-image: url(../images/max/max_left_god.png);
}

div.max_front_punch {
	background-image: url(../images/max/max_front_punch.png);
}

div.max_back_punch {
	background-image: url(../images/max/max_back_punch.png);
}

div.max_right_punch {
	background-image: url(../images/max/max_right_punch.png);
}

div.max_left_punch {
	background-image: url(../images/max/max_left_punch.png);
}

div.max_damage {
	background-image: url(../images/max/max_damage.png);
}

div.max_healing {
	background-image: url(../images/max/max_healing.png);
}

div.max_front_wasp-gun {
	background-image: url(../images/max/max_front_waspgun.png);
}

div.max_right_wasp-gun {
	background-image: url(../images/max/max_right_waspgun.png);
}

div.max_left_wasp-gun {
	background-image: url(../images/max/max_left_waspgun.png);
}

div.max_back_wasp-gun {
	background-image: url(../images/max/max_back_waspgun.png);
}

div.max_damage {
	background-image: url(../images/max/max_damage.png);
}

div.max_healing {
	background-image: url(../images/max/max_healing.png);
}

div.max_in_portal {
	background-image: url(../images/max/max_in_portal.png);
}