div.monster_1-1_front {
	background-image: url(../images/monsters/monster_1-1_front.png);
}

div.monster_1-1_back {
	background-image: url(../images/monsters/monster_1-1_back.png);
}

div.monster_1-1_right {
	background-image: url(../images/monsters/monster_1-1_right.png);
}

div.monster_1-1_left {
	background-image: url(../images/monsters/monster_1-1_left.png);
}

div.monster_1-1_damage {
	background-image: url(../images/monsters/monster_1-1_damage.png);
}

div.monster_2-1_front {
	background-image: url(../images/monsters/monster_2-1_front.png);
}

div.monster_2-1_back {
	background-image: url(../images/monsters/monster_2-1_back.png);
}

div.monster_2-1_right {
	background-image: url(../images/monsters/monster_2-1_right.png);
}

div.monster_2-1_left {
	background-image: url(../images/monsters/monster_2-1_left.png);
}

div.monster_2-1_damage {
	background-image: url(../images/monsters/monster_2-1_damage.png);
}

div.monster_3-1_front {
	background-image: url(../images/monsters/monster_3-1_front.png);
}

div.monster_3-1_back {
	background-image: url(../images/monsters/monster_3-1_back.png);
}

div.monster_3-1_right {
	background-image: url(../images/monsters/monster_3-1_right.png);
}

div.monster_3-1_left {
	background-image: url(../images/monsters/monster_3-1_left.png);
}

div.monster_3-1_damage {
	background-image: url(../images/monsters/monster_3-1_damage.png);
}

div.monster_4-1_front {
	background-image: url(../images/monsters/monster_4-1_front.png);
}

div.monster_4-1_back {
	background-image: url(../images/monsters/monster_4-1_back.png);
}

div.monster_4-1_right {
	background-image: url(../images/monsters/monster_4-1_right.png);
}

div.monster_4-1_left {
	background-image: url(../images/monsters/monster_4-1_left.png);
}

div.monster_4-1_damage {
	background-image: url(../images/monsters/monster_4-1_damage.png);
}

div.monster_1-2_front {
	background-image: url(../images/monsters/monster_1-2_front.png);
}

div.monster_1-2_back {
	background-image: url(../images/monsters/monster_1-2_back.png);
}

div.monster_1-2_right {
	background-image: url(../images/monsters/monster_1-2_right.png);
}

div.monster_1-2_left {
	background-image: url(../images/monsters/monster_1-2_left.png);
}

div.monster_1-2_damage {
	background-image: url(../images/monsters/monster_1-2_damage.png);
}

div.monster_2-2_front {
	background-image: url(../images/monsters/monster_2-2_front.png);
}

div.monster_2-2_back {
	background-image: url(../images/monsters/monster_2-2_back.png);
}

div.monster_2-2_right {
	background-image: url(../images/monsters/monster_2-2_right.png);
}

div.monster_2-2_left {
	background-image: url(../images/monsters/monster_2-2_left.png);
}

div.monster_2-2_damage {
	background-image: url(../images/monsters/monster_2-2_damage.png);
}

div.monster_3-2_front {
	background-image: url(../images/monsters/monster_3-2_front.png);
}

div.monster_3-2_back {
	background-image: url(../images/monsters/monster_3-2_back.png);
}

div.monster_3-2_right {
	background-image: url(../images/monsters/monster_3-2_right.png);
}

div.monster_3-2_left {
	background-image: url(../images/monsters/monster_3-2_left.png);
}

div.monster_3-2_damage {
	background-image: url(../images/monsters/monster_3-2_damage.png);
}

div.monster_1-3_front {
	background-image: url(../images/monsters/monster_1-3_front.png);
}

div.monster_1-3_back {
	background-image: url(../images/monsters/monster_1-3_back.png);
}

div.monster_1-3_right {
	background-image: url(../images/monsters/monster_1-3_right.png);
}

div.monster_1-3_left {
	background-image: url(../images/monsters/monster_1-3_left.png);
}

div.monster_1-3_damage {
	background-image: url(../images/monsters/monster_1-3_damage.png);
}

div.monster_2-3_front {
	background-image: url(../images/monsters/monster_2-3_front.png);
}

div.monster_2-3_back {
	background-image: url(../images/monsters/monster_2-3_back.png);
}

div.monster_2-3_right {
	background-image: url(../images/monsters/monster_2-3_right.png);
}

div.monster_2-3_left {
	background-image: url(../images/monsters/monster_2-3_left.png);
}

div.monster_2-3_damage {
	background-image: url(../images/monsters/monster_2-3_damage.png);
}

div.monster_3-3_front {
	background-image: url(../images/monsters/monster_3-3_front.png);
}

div.monster_3-3_back {
	background-image: url(../images/monsters/monster_3-3_back.png);
}

div.monster_3-3_right {
	background-image: url(../images/monsters/monster_3-3_right.png);
}

div.monster_3-3_left {
	background-image: url(../images/monsters/monster_3-3_left.png);
}

div.monster_3-3_damage {
	background-image: url(../images/monsters/monster_3-3_damage.png);
}

div.monster_4-3_front {
	background-image: url(../images/monsters/monster_4-3_front.png);
}

div.monster_4-3_back {
	background-image: url(../images/monsters/monster_4-3_back.png);
}

div.monster_4-3_right {
	background-image: url(../images/monsters/monster_4-3_right.png);
}

div.monster_4-3_left {
	background-image: url(../images/monsters/monster_4-3_left.png);
}

div.monster_4-3_damage {
	background-image: url(../images/monsters/monster_4-3_damage.png);
}