div.shells-fire {
	background-image: url(../images/particles/shell-fire.png);
}

div.wasps-fire {
	background-image: url(../images/particles/wasps-fire.png);
}

div.poison-wasps-fire {
	background-image: url(../images/particles/poison-wasps-fire.png);
}